body, html {
  width: 100%;
  margin: auto;

  scroll-behavior: smooth;
}

@font-face {
  font-family: "Quicksand-SemiBold";
  src: url('./fonts/Quicksand/static/Quicksand-SemiBold.ttf');
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url('./fonts/Quicksand/static/Quicksand-Regular.ttf');
}

@font-face {
  font-family: "Quicksand-Medium";
  src: url('./fonts/Quicksand/static/Quicksand-Medium.ttf');
}

@font-face {
  font-family: "Quicksand-Light";
  src: url('./fonts/Quicksand/static/Quicksand-Light.ttf');
}

.header {
  width: 100%;
  height: 120px;
  background-color: #efedf2;
  z-index: 1000;
}

.logo {
  width: 170px;
  height: 98px;
  background-image: url('../images/main_images/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  float: left;
  margin: 10px 20px 0px 50px;
}

.navbar {
  float: right;
  display: inline-block;
  min-width: 200px;
  height: 30px;
  margin: 50px;
}

.a {
  font-family: "Quicksand-Regular";
  text-decoration: none;
  font-size: 1.2vw;
  color: #44100A;
  padding: 4px;
  /* background-color: rgba(191, 143, 144, 0.4); */

}

p {
  display: inline;
  margin: 6px;
  position: relative;
  font-family: "Quicksand-SemiBold";
  font-size: 1.2vw;
  color: #6D6875;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  text-align: center;
  background-color: rgba(54, 0, 21, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  opacity: 100%;
  padding: 8px 10px 8px 8px;
  margin: 12px 30px 12px 12px;
  text-decoration: none;
  font-size: 38px;
  color: white;
  font-family: "Quicksand-Regular";
  display: block;
  transition: 0.3s;
  line-height: 65px;
  cursor: pointer;
  outline: none;
}

h5 {
  font-family: "Quicksand-Light";
  font-size: 17px;
  color: #f0d8dc;
  padding: 8px 10px 8px 8px;
  margin: 10px 30px 12px 12px;
  line-height: 5px;
}

.sidenav-contact a {
  display: inline-block;
  margin: 0px;
  padding: 0px;

}

.sidenav a:hover{
  color: #b5838d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 45px;
  margin-left:  50px;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.graphics1 {
  position: relative;
  min-width: 100%;
  height: 870px;
  z-index: -100;
  background-image: url('../images/main_images/corporate.jpg');
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-attachment: fixed;
  background-position: 0px 45px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.tagline {
  min-height: 50px;
  max-width: 80%;
  padding: 15px 20px 15px 20px;
  background-color: rgba(54, 0, 21, 0.8);
  border-radius: 2px;
  position: absolute;
  text-align: center;
  font-size: 3em;
  margin-right: 20px;
  color: white;
  font-family: "Quicksand-Medium";
  opacity: 1.0;
  top: 45%;
  right: 25%;
  left: 25%;
  animation: fadeIn 3s;
}

.intro-quote {
  max-width: 100%;
  min-height: 200px;
  padding: 50px 100px 20px 100px;
}

.intro-container {
  max-width: 100%;
  min-height: 400px;
  padding: 50px 150px 20px 150px;
}

.p1 {
  font-family: "Quicksand-Medium";
  font-size: 26px;
  color: #1c3144;
}


.list-container {
  width: 400px;
  margin: auto;
  margin-top: 60px;
}

.p2 {
  border-top: 2px dashed;
  border-color: #b5838d;
  margin: 0;
  padding: 30px;
  counter-increment: section;
  position: relative;
  font-size: 30px;
  color: #1c3144;
  font-family: "Quicksand-Regular";
}

.p2:nth-child(even):before {
  content: counter(section);
  right: 100%;
  margin-right: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 40px;
  width: 40px;
  background-color: rgba(54, 0, 21, 0.8);
  text-align: center;
  color: white;
  font-size: 110%;
}

.p2:nth-child(odd):before {
  content: counter(section);
  left: 100%;
  margin-left: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 40px;
  width: 40px;
  background-color: rgba(54, 0, 21, 0.8);
  text-align: center;
  color: white;
  font-size: 110%;
}

.p2:nth-child(even) {
  border-left: 2px dashed;
  border-color: #b5838d;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px;
  padding-right: 0;
}

.p2:nth-child(odd) {
  border-right: 2px dashed;
  border-color: #b5838d;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px;
  padding-left: 0;
}

.p2:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.p2:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.img-break1 {
  position: relative;
  max-width: 100%;
  min-height: 350px;
  background-image: url('../images/corp-development/img-break1.jpg');
  background-size: auto 1000px;
  background-position: -100px -250px;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.quote-container {
  max-width: 100%;
  margin-left: 50px;
  margin-right: 30px;
  padding-top: 60px;
  position: relative;
}

h1 {
  font-family: Futura;
  font-weight: lighter;
  letter-spacing: 4px;
  word-spacing: 8px;
  font-size: 37px;
  color: black;
}

h1 span {
  background-color: rgba(255, 255, 255, 0.7);
}

.container-pink {
  width: 100%;
  min-height: 300px;
  position: relative;
  overflow: hidden;
  background-color: #f6f0f1;
  padding-bottom: 60px;
}

h2 {
  font-size: 30px;
  font-family: "Quicksand-Regular";
  color: #1c3144;
}

.container-white {
  width: 100%;
  min-height: 300px;
  position: relative;
}

h3 {
  font-family: "Quicksand-SemiBold";
  font-size: 50px;
  color: #1c3144;
  text-align: center;
}

.underline {
  border-bottom: 1px solid #6D6875;
  line-height: 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 40px auto 40px auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left: 60px;
  margin-right: 60px;
}


.grid-container > .col {
  text-align: center;
  padding: 10px;
}

.p3 {
  font-family: "Quicksand-Regular";
  font-size: 20px;
  line-height: 30px;
  color: black;
  text-align: justify;
}

.img-container {
  display: grid;
  padding: 20px 60px 80px 60px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
}

.img {
  position: relative;
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: center;
  max-height: 200px;
  margin: 20px;
}
/* .vl {
  border-left: 6px solid black;
  height: 400px;
  display: inline-block;
  position: absolute;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 0px;
} */
footer {
  display: block;
  max-width: 100%;
  min-height: 120px;
  padding-left: 70px;
  background-color: rgba(54, 0, 21, 0.9);
}

.contactHeading {
  position: relative;
  display: inline-block;
  font-size: 29px;
  color: white;
  margin: 20px 10px 10px 0px;
  font-family: "QuickSand-SemiBold";
}

.contact-container {
  margin-top: 15px;
  position: relative;
  display: inline-block;
  width: 90%;
  left: auto;
  right: auto;
  min-height: 75px;
}

.admin-container {
  display: inline-block;
  position: relative;
  min-height: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

h6 {
  display: inline;
  position: relative;
  bottom: 12px;
  font-family: "Quicksand-Regular";
  font-size: 18px;
  color: white;
}

.socials-container {
  display: inline-block;
  float: right;
}
