body, html {
  width: 100%;
  margin: auto;

  scroll-behavior: smooth;
}

@font-face {
  font-family: "Quicksand-SemiBold";
  src: url('./fonts/Quicksand/static/Quicksand-SemiBold.ttf');
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url('./fonts/Quicksand/static/Quicksand-Regular.ttf');
}

@font-face {
  font-family: "Quicksand-Medium";
  src: url('./fonts/Quicksand/static/Quicksand-Medium.ttf');
}

@font-face {
  font-family: "Quicksand-Light";
  src: url('./fonts/Quicksand/static/Quicksand-Light.ttf');
}

.logo {
  width: 250px;
  height: 144px;
  background-image: url('../images/main_images/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  float: left;
  margin: 20px;
}

.navbar {
  float: right;
  display: inline-block;
  min-width: 200px;
  height: 30px;
  margin: 50px;
}

.a {
  font-family: "Quicksand-Regular";
  text-decoration: none;
  color: #6D6875;
  font-size: 1.2vw;
  color: #44100A;

}

p {
  display: inline;
  margin: 6px;
  position: relative;
  font-family: "Quicksand-SemiBold";
  font-size: 1.2vw;
  color: #6D6875;

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  text-align: center;
  background-color: rgba(54, 0, 21, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  opacity: 100%;
  padding: 8px 10px 8px 8px;
  margin: 12px 30px 12px 12px;
  text-decoration: none;
  font-size: 38px;
  color: white;
  font-family: "Quicksand-Regular";
  display: block;
  transition: 0.3s;
  line-height: 65px;
  cursor: pointer;
  outline: none;
}

.p1 {
  font-family: "Quicksand-Light";
  font-size: 17px;
  color: #f0d8dc;
  padding: 8px 10px 8px 8px;
  margin: 10px 30px 12px 12px;
  line-height: 5px;
}

.sidenav-contact a {
  display: inline-block;
  margin: 0px;
  padding: 0px;

}

.sidenav a:hover{
  color: #b5838d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 45px;
  margin-left:  50px;
}

h1 {
  text-align: center;
  font-family: "Quicksand-SemiBold";
  font-size: 50px;
  color: #1c3144;
  letter-spacing: 3px;
}

.booking-container {
  width: 100%;
  min-height: 300px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  position: relative;
  /* padding-left: 150px; */
}

.form-container {
  /* border: 1px solid red; */
  padding-right: 100px;
  /* margin-left: 60px; */
  margin-bottom: 60px;
  vertical-align: top;
  position: relative;
  display: inline-block;
  text-align: left;
  font-size: 20px;
  font-family: "QuickSand-Regular";
}

.vl {
  content: "";
  background-color: #000;
  position: relative;
  display: inline-block;
  width: 5px;
  height: 450px;
  /* left: 50%; */
  margin: 10px;
  /* margin-left: 100px; */
  vertical-align: top;
  /* display: block; */
}


h2 {
  font-family: "Quicksand-Regular";
  font-size: 28px;
  color: #1c3144;

}

.field {
  display: inline-block;
  position: relative;
  /* margin-right: 10px; */
  padding-left: 25px;
}

input[type=text], input[type=number], select {
  /* width: 100%; */
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea[type=text] {
  font-family: inherit;
  height: 100px;
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid black;
}


input[type=submit] {
  width: 200px;
  height: 60px;
  background-color: rgba(54, 0, 21, 0.8);
  box-shadow: 0px 10px 10px 4px rgba(0,0,0,0.2);
  color: white;
  font-size: 1em;
  font-family: "Quicksand-Medium";
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #8a284e;
}



footer {
  display: block;
  margin-top: 170px;
  max-width: 100%;
  min-height: 120px;
  padding-left: 70px;
  background-color: rgba(54, 0, 21, 0.9);
}

.contactHeading {
  position: relative;
  display: inline-block;
  font-size: 29px;
  color: white;
  margin: 20px 10px 10px 0px;
  font-family: "QuickSand-SemiBold";
}

.contact-container {
  margin-top: 15px;
  position: relative;
  display: inline-block;
  width: 90%;
  left: auto;
  right: auto;
  min-height: 75px;
}


.admin-container {
  display: inline-block;
  position: relative;
  min-height: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

h6 {
  display: inline;
  position: relative;
  bottom: 12px;
  font-family: "Quicksand-Regular";
  font-size: 18px;
  color: white;
}

.socials-container {
  display: inline-block;
  float: right;
}
